### config/packages/twig.yaml ###

twig:
    form_themes:
        - 'bootstrap_4_horizontal_layout.html.twig'
        - 'form_theme.html.twig' # Custom theme

### templates/form_theme.html.twig ###

{% verbatim %}
{# email|text|tel|... #}
{% block email_label %}
    {{ name }}
    {{ form_errors(form) }}
{% endblock %}

{% block email_widget %}
    {# Allow to display all variables available inside the block #}
    {{ dump() }}
    <form-email>
        <input type="text" name="{{ full_name }}"/>
    </form-email>
{% endblock %}

{# override a specific field based on its id _{{ id }} #}
{% block _user_phone_widget %}
    {# dump() #}
    <div class="col-sm-10">
        <input type="text" id="{{ id }}" name="full_name" value="+33{{ value }}" class="form-control">
    </div>
{% endblock %}
{% endverbatim %}
